
@import '~@angular/material/theming';

@mixin footer-theme($theme, $red) {

    $primary: map-get($theme, primary);
    $secondary: map-get($theme, accent);
    $warn:  map-get($theme, warn);
    

    
    .protos-footer {
        background-color: gray;
    }    
}