
@import '~@angular/material/theming';


$brand-protos-teal: (
    50 : #e0f5f8,
    100 : #b3e7ee,
    200 : #80d7e3,
    300 : #4dc6d8,
    400 : #26bacf,
    500 : #00aec7,
    600 : #00a7c1,
    700 : #009dba,
    800 : #0094b3,
    900 : #0084a6,
    A100 : #d0f4ff,
    A200 : #9de8ff,
    A400 : #6adbff,
    A700 : #51d5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brand-protos-blue: (
    50 : #e8f2fb,
    100 : #c6ddf5,
    200 : #a0c7ef,
    300 : #7ab1e8,
    400 : #5ea0e3,
    500 : #418fde,
    600 : #3b87da,
    700 : #327cd5,
    800 : #2a72d1,
    900 : #1c60c8,
    A100 : #fefeff,
    A200 : #cbdeff,
    A400 : #98bdff,
    A700 : #7fadff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brand-protos-green: (
    50 : #eff7e4,
    100 : #d7ecbc,
    200 : #bcdf90,
    300 : #a1d263,
    400 : #8cc841,
    500 : #78be20,
    600 : #70b81c,
    700 : #65af18,
    800 : #5ba713,
    900 : #48990b,
    A100 : #ddffc8,
    A200 : #bdff95,
    A400 : #9dff62,
    A700 : #8eff48,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brand-protos-orange: (
    50 : #fdf5e0,
    100 : #fbe5b3,
    200 : #f9d480,
    300 : #f6c34d,
    400 : #f4b626,
    500 : #f2a900,
    600 : #f0a200,
    700 : #ee9800,
    800 : #ec8f00,
    900 : #e87e00,
    A100 : #ffffff,
    A200 : #ffeddc,
    A400 : #ffd3a9,
    A700 : #ffc690,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brand-protos-red: (
    50 : #fae8e2,
    100 : #f4c5b7,
    200 : #ec9f87,
    300 : #e47957,
    400 : #df5c33,
    500 : #d93f0f,
    600 : #d5390d,
    700 : #cf310b,
    800 : #ca2908,
    900 : #c01b04,
    A100 : #ffebe9,
    A200 : #ffbcb6,
    A400 : #ff8d83,
    A700 : #ff7669,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



@include mat-core();


// main app styling
@import "../app.component.scss";

// child resource themes
@import "../ui/header/header.component.theme.scss";
@import "../ui/home/home.component.theme.scss";
@import "../ui/footer/footer.component.theme.scss";




// Default light theme
$primary-palette: mat-palette($brand-protos-orange);
$accent-palette:  mat-palette($brand-protos-blue);
$warn-palette:  mat-palette($mat-red);
$red-palette:  mat-palette($brand-protos-red);

$protos-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// add our protos theme to angular material
@include angular-material-theme($protos-theme);

// group all child resource themes
@mixin westeros-themes($theme) {
    
    @include header-theme($theme, $red-palette);
    @include home-theme($theme, $red-palette);
    @include footer-theme($theme, $red-palette);
}

// add our child resource themes, passing in our protos theme
@include westeros-themes($protos-theme);
