.protos-header {
    margin: 0;
}

.protos-header-main {
    width: 100%;
    padding: 0 1em;
}

.logo-sitetitle {
    //font-size: 25px;
    //margin-left: 47px;
    font-weight: 300;
}

.links {
    text-align: right;
    padding-bottom: 10px;
}

.links a {
    //font-size: 13px;
    text-decoration: none;
}